<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Post Detail</title>
  </head>
  <body>
    <h1>
        This page is Post Detail page!
    </h1>
    <a>
        ---------------------------------------------------
    </a>
    <p></p>
    <div id="postDetail">
         <a id="title">
             title : test title
         </a>
         <p></p>
         <a id="writer">
             writer : test writer
         </a>
         <p></p>
         <a id="date">
             date : test date
         </a>
         <p></p>
         <a id="contents">
             contents : test coooooooooonteeeeeeeeentsssssssssss
         </a>
         <p></p>
         <a>
           ---------------------------------------------------
         </a>
    </div>
  </body>
</html>